doctype html
html
	head
		title All Contacts

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js')
		link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet')
		link(rel="stylesheet", type="text/css", href="stylesheets/map.css")
		script(src="https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js")
		
	body
		h2(class="text-center") Contacts

		
		table#allinfotable(class="table table-striped")
			thead
				tr
					th(scope="col") Full Name
					th(scope="col") Full Address
					th(scope="col") Phone Number
					th(scope="col") Email
					th(scope="col") Contact by Phone
					th(scope="col") Contact by Mail
					th(scope="col") Contact by Email
					th(scope="col") Latitude
					th(scope="col") Longitude
			tbody
				
				each contact in contacts
					-var fullname = contact['fullname']
					-var lat = contact['latitude']
					-var lon = contact['longitude']
					
					tr(data-fullname=fullname, data-latitude = lat, data-longitude = lon)

						td #{contact['fullname']}
						td #{contact['address']}					
						td #{contact['phonenumber']}					
						td #{contact['email']}					
						td #{contact['contactbyphone']}
						td #{contact['contactbymail']}
						td #{contact['contactbyemail']}
						td #{contact['latitude']}
						td #{contact['longitude']}
		br
		br

		div#map

		pre#coordinates.coordinates

		p
			a(href="/mailer") Add Contact
		
		
		

	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
	script(type="text/javascript", src="javascripts/mapdraw.js")
	
	





			