doctype html
html
	head
		title All Contacts

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js')
		link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet')
		link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
		script(src="https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js")
		
	body
		section#display_contacts_page
			h2(class="text-center") Contacts

			
			table#allinfotable(class="table table-striped")
				thead
					tr
						th(scope="col") Prefix
						th(scope="col") Full Name
						th(scope="col") Address
						th(scope="col") Zip
						th(scope="col") Phone Number
						th(scope="col") Email
						th(scope="col") Contact by Phone
						th(scope="col") Contact by Mail
						th(scope="col") Contact by Email
						th(scope="col") Latitude
						th(scope="col") Longitude
						th(scope="col") Update
						th(scope="col") Delete
				tbody
					
					each contact in contacts
						-var id = contact["_id"]

						-var prefix = contact['prefix']
						-var firstname = contact['firstname']
						-var lastname = contact['lastname']
						-var street = contact['street']
						-var city = contact['city']
						-var state = contact['state']
						-var zip = contact['zip']
						-var phone = contact['phone']
						-var email = contact['email']
						-var contactbyphone = contact['contactbyphone']
						-var contactbymail = contact['contactbymail']
						-var contactbyemail = contact['contactbyemail']
						-var latitude = contact['latitude']
						-var longitude = contact['longitude']
						-var fullname = firstname+" "+lastname
						-var address = street+" "+city

						
						tr(data-fullname=fullname, data-latitude = latitude, data-longitude = longitude)
							td #{contact['prefix']}
							td #{fullname}
							td #{address}
							td #{zip}					
							td #{phone}					
							td #{email}					
							td #{contactbyphone}
							td #{contactbymail}
							td #{contact['contactbyemail']}
							td #{latitude}
							td #{longitude}
							td: button#updatethiscontact(data-ids=contact["_id"], data-prefix=prefix, data-firstname=firstname, data-lastname=lastname, data-street=street, data-city=city, data-state=state, data-zip=zip, data-phone=phone,data-email=email,data-contactbyphone=contactbyphone,data-contactbymail=contactbymail,data-contactbyemail=contactbyemail, type="button" class="btn btn-warning") Update
							td: button#deletethiscontact(type="button" class="btn btn-danger") Delete
			br
			br

			div#map

			pre#coordinates.coordinates

			br
			br

			p#lastbuttons
				a(href="/mailer"): button(type="button" class="btn btn-success" id="gotofirstpage") Add Contact
		
		section#display_update_page

			form(action = "updatecontact" method="post" id="parentupdateform")
				input(type = "hidden" id="hideforid" name="togetid")
				div.form-row
					div.form-check.form-check-inline.col-md-1
						input(class="form-check-input" type="radio" name="prefix" value="Mr.")
						label(class="form-check-label" for="inlineCheckbox1" checked) Mr.

					div.form-check.form-check-inline.col-md-1
						input(class="form-check-input" type="radio" name="prefix" value="Mrs.")
						label(class="form-check-label" for="inlineCheckbox2" checked) Mrs.
					div.form-check.form-check-inline.col-md-1
						input(class="form-check-input" type="radio" name="prefix" value="Ms.")
						label(class="form-check-label" for="inlineCheckbox3" checked) Ms.
					div.form-check.form-check-inline.col-md-1
						input(class="form-check-input" type="radio" name="prefix" value="Dr.")
						label(class="form-check-label" for="inlineCheckbox4" checked) Dr. 

				div#mainform.form-row
					div.form-group.col-md-6
						label(for="firstnamei") First Name
						input(type="text" name="firstname" id="firstnamei" placeholder="Name" class="form-control")    
					div.form-group.col-md-6
						label(for="lastnamei") Last Name
						input(type="text" name="lastname" id="lastnamei" placeholder="L-Name" class="form-control")
				div.form-row
					div.form-group.col-md-6
						label(for="street") Street
						input(type="text" name="street" id="street" placeholder="Street" class="form-control" required)
					div.form-group.col-md-6
						label(for="city") City
						input(type="text" name="city" id="cityi" placeholder="City" class="form-control" required)
				div.form-row
					div.form-group.col-md-6
                    
						label(for="selectstate") State 
						select(class="form-control" id="selectstate" name="state")
							option(selected value="state") State
							option(value="NJ") NJ
							option(value="NY") NY
							option(value="PA") PA
							option(value="CT") CT
					div#zipmargin.form-group.col-md-6
						label(for="ZIP") ZIP:
						input(type="text" name="ZIP" id="ZIP" placeholder="07430" class="form-control" required)
				div.form-row
					div.form-group.col-md-6
						label(for="phone") Phone Number:
						input(type="text" name="phone" id="phonei" placeholder="2013128701" class="form-control")
					div.form-group.col-md-6
						label(for="email") E-mail:
						input(id="updateemail" type="email" name="email" placeholder="abc@ramapo.edu" class="form-control")
				p How may we contact you?
				p
					div.form-check.form-check-inline.col-md-2
						input(class="form-check-input" type="checkbox" name="phonechk" id="phonechki" value="Phone")
						label(class="form-check-label" for="inlineCheckbox1") Phone
					div.form-check.form-check-inline.col-md-2
						input(class="form-check-input" type="checkbox" name="mailchk" id="mailchki" value="Mail")
						label(class="form-check-label" for="inlineCheckbox2") Mail
					div.form-check.form-check-inline.col-md-2
						input(class="form-check-input" type="checkbox" name="emailchk" id="emailchki" value="Email")
						label(class="form-check-label" for="inlineCheckbox3") Email
					div.form-check.form-check-inline.col-md-2
						input(class="form-check-input" id="allchki" type="checkbox" name="anychk" value="Any")
						label(class="form-check-label" for="inlineCheckbox4") Any
				button(type="submit" id="updatecontactinfoz") Update
		

	
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js") integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
	script(type="text/javascript", src="javascripts/mapdraw.js")