doctype html
html
		head
				title Information Submitted
				script(type="text/javascript")    
		body
				p Contact Information Submitted
				h3 Hi #{name[0]}
				p Here are the details you provided
				br
				p Full Name: #{name[0]+" "+name[1]}
				p Full Address: #{name[2]}
				p Phone: #{name[3]}
				p Email: #{name[4]}
				p Can we contact you by phone? #{name[5]}
				p Can we contact you by mail? #{name[6]}
				p Can we contact you by email? #{name[7]}
				br

				p Your Information has been saved in the database.

