doctype html
html
	head
		title Information Submitted
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		link(rel='stylesheet', href="stylesheets/style.css")
		script(type="text/javascript")   
			    
	body
		div.container

			div.jumbortron
				h2 Contact Information Submitted!
				hr
				br
				br
				p Hi #{name[1]}
				p Here is the information you submitted
				hr
				p Full Name: #{name[1]+" "+name[2]}
				p Full Address: #{name[3]+" "+name[4]+", "+name[6]}
				p Phone: #{name[7]}
				p Email: #{name[8]}
				p Can we contact you by phone? #{name[9]}
				p Can we contact you by mail? #{name[10]}
				p Can we contact you by email? #{name[11]}
				hr

				h5 Your information has been stored in the database.

				p
					a(class="btn btn-primary btn-sm" href="/mailer" role=button) Homepage

				p
					a(class="btn btn-primary btn-sm" href="/contacts" role=button) Contacts


	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")